 @import "../styles/settings.scss";
 @media (min-width: 576px) {
  .title-outside {
      display: none;
  }
}

.navbar-brand, .navbar-app-title {
  display: flex;
  align-items: center;
  min-block-size: 48px;
}


.rams {
  &-elevation-navbar{
    box-shadow: 0 0 4px rgba(0, 0, 0, .4), 0 4px 4px rgba(0, 0, 0, .2);
  }
}

main{
  padding-inline-start: 242px; //TODO: Rewrite in pixcel, no magic numbers
  padding-top: 65px;//TODO: Rewrite in pixcel, no magic numbers
}



nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1031;
    inset-block-start: 65px;
    inset-block-end: 0;
    inset-inline-start: 0;
    inline-size: 0;
}