<div class="container">
    <div class="rams-sms-branch-header">
        Branches
    </div>
    <div class="rams-sms-branch-cards-info">
        <div class="rams-grid-row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Total Branches
                    </h5>
                    <p class="card-text">
                        25
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Inactive Branches
                    </h5>
                    <p class="card-text">
                        4
                    </p>
                </div>
            </div>
        </div>

    </div>

<hr>






<rams-sms-button buttonClass="rams-btn-outline" buttonText="Click Here"></rams-sms-button>

















    <div class="rams-sms-branch-list">
        <div class="rams-sms-branch-list-header mb-2">
            <div class="rams-sms-branch-list-header-title">
                Branches
            </div>
            <div class="rams-sms-branch-list-header-action">
                <button type="button" class="btn btn-primary" (click)="addBranchClick()">
                   Add Branch
                  </button>
                  &nbsp;
                <button class="btn btn-primary" disabled="true">
                    Download Branch
                </button>
            </div>
        </div>
        <div class="rams-sms-branch-list-table mt-3" *ngIf="showTable">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Branch Name</th>
                        <th scope="col">Branch Code</th>
                        <th scope="col">Branch Address</th>
                        <th scope="col">Branch Phone</th>
                        <!-- <th scope="col">Branch Email</th>
                        <th scope="col">Branch Status</th>
                        <th scope="col">Actions</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Branch 1</td>
                        <td>BR1</td>
                        <td>Branch 1 Address</td>
                        <td>1234567890</td>
                         
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="rams-sms-branch-form mt-3" *ngIf="!showTable">
          <rams-sms-branchform></rams-sms-branchform>
        </div>
           
        </div>
    </div>
 
 


