<div class="rams-padding">
    <div class="rams-page-title">Dashboard Overview</div>
    <div class="rams-grid-row">
        <div class="rams-info-card">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recently Joined Students</h5>
                    <p class="card-text">45</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="rams-info-card">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Branches</h5>
                    <p class="card-text">2</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>

                </div>
            </div>
        </div>
        <div class="rams-info-card">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Students</h5>
                    <p class="card-text">1200</p>
                </div>
            </div>
        </div>
    </div>
</div>