<form [formGroup]="createBranchFormGroup" class="form-container">
    <div class="header-save-btn">
        <button type="button" class="btn btn-primary" (click)="saveBranchClick()">
            Save 
        </button>
    </div>
    <div class="form-group">
        <label for="branchName" [class.required]="true">Branch name</label>
        <input [formControl]="getFormControlDetaisl('branchName')" name="branchName" class="form-control" id="branchName" placeholder="Enter the name of the branch">
    </div>
    <div class="form-group">
        <label for="branchPhone" [class.required]="true">Branch phone</label>
        <input [formControl]="getFormControlDetaisl('branchPhone')" name="branchPhone" class="form-control" id="branchPhone" placeholder="Enter the phone number of the branch">
    </div>
    <div class="form-group">
        <label for="branchAddress" [class.required]="true">Branch address</label>
        <input [formControl]="getFormControlDetaisl('branchAddress')" name="branchAddress" class="form-control" id="branchAddress" placeholder="Enter the address of the branch">
    </div>
</form>